.cardboard-modal.cardboard-modal-dark.ng-cloak(ng-hide='!addProjectModal')
	.cardboard-modal-content
		.card
			.card-header.bg-primary
				h3.text-white Add Project
					button.btn.btn-secondary.btn-sm.float-right(ng-click='addProjectModal = !addProjectModal')
						i.fa.fa-close.fa-fw
			form
				.card-block
					.form-group
						label Project Name:
						input.form-control(type='text', placeholder='project name', ng-model='addProjectForm.name')
					.form-group
						label Notes:
						textarea.form-control(rows='3', placeholder='notes...', ng-model='addProjectForm.notes')
			.card-footer.bg-primary
				button.btn.btn-success.float-right(ng-click='createProject()') Create Project
				button.btn.btn-secondary.mr-3.float-right(ng-click='addProjectModal = !addProjectModal') Cancel
