extends ../layouts/application

block content
	flash-msgs.flash-messages(ng-repeat="flashMessage in flashMessages")
	
	.container.py-5.ng-cloak
		.jumbotron.py-4.px-5
			h1 {{ project.name }}
			p.mute(ng-if='project.createdAt') {{ formatToLocalDateTime(project.createdAt, 2) }}
				span(ng-if='project.notes')
					br
					strong Notes
					| : {{ project.notes }}
				span(ng-if='returnTotalTime(project.times) != 0')
					br
					strong Total Project Time
					| : {{ returnTotalTime(project.times) }}
			hr
			.row(ng-repeat='timeStamp in project.times')
				.col-1.pt-2
					p {{ $index + 1 }}
				.col-2.pt-2
					p {{ formatToLocalDateTime(timeStamp.start, 3) }}
				.col-2.pt-2(ng-if='timeStamp.stop')
					p {{ formatToLocalDateTime(timeStamp.stop, 3) }}
				.col-2.pt-2(ng-if='timeStamp.diff')
					p {{ getTotalHoursSpent(timeStamp.diff) }}hrs
				.col-4.pt-2(ng-if='!timeStamp.stop')
				.col-5(ng-click='editing = true')
					p.pt-2(ng-show='!editing') {{ timeStamp.notes }}
					input.pt-2.form-control(type='text', ng-hide='!editing', ng-blur='saveProjectEdits()', placeholder='notes...', ng-model='timeStamp.notes')
			.text-right(ng-if='project')
				button.btn(ng-class='{"btn-success": checkForClass(), "btn-danger": !checkForClass()}' ,ng-click='startStopTime(project._id)')
					i.fa.fa-fw.mr-1(ng-class='{ "fa-play": startingOrStoppingName() == "Start", "fa-stop": startingOrStoppingName() == "Stop" }')
					| {{ startingOrStoppingName() }}
				
	
	.container.ng-cloak
		table.table.table-striped
			thead
				tr
					th #
					th Project Name
					th Date
					th Notes
					th Actions
			tbody
				tr(ng-repeat='project in projects')
					th(scope='row') {{ $index + 1 }}
					td
						a(href='', ng-click='setMainProject($index)') {{ project.name }}
					td {{ formatToLocalDateTime(project.createdAt, 1) }}
					td {{ project.notes }}
					td
						button.btn.btn-danger.btn-sm(ng-click='deleteProject(project._id)')
							i.fa.fa-trash.fa-fw

	include _add_project
